.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar-brand {
  font-size: 1.2rem;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-dropdown-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.navbar-logo{
  color: #1a59f8;  
  text-decoration: none;
  font-size: x-large;
}

.navbar-links {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links.open {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-item {
  padding: 10px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .navbar-menu {
    flex-direction: row;
    align-items: center;
  }

  .navbar-dropdown-toggle {
    display: none;
  }

  .navbar-links {
    display: flex;
  }

  .navbar-item {
    padding: 10px 15px;
  }
}
